/* Main Colors */
$primary-color-dark:    #c51162;
$primary-color:         #FF4081;
$primary-color-light:   #f06292;

$secondary-color-dark:   #0097a7;
$secondary-color:        #80deea;
$secondary-color-light:  #b2ebf2;

$tertiary-color-dark:     #689F38;
$tertiary-color:          #8BC34A;
$tertiary-color-light:    #DCEDC8;

/* Text Colors */
$primary-text-color:     #212121;
$secondary-text-color:   #757575;


/* Accent Color */
$accent-color:           #3d5afe;
$accent-color2:          #8c9eff;
$divider-color:          #BDBDBD;
