// COLORS ////////////////////////////
@import 'palette';

// FONTS /////////////////////////////
// Font Family
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-title: 'Cinzel', serif;

// Font Colors
$nav-text-color: #FFFFFF;
$primary-text-color: #000000;
$secondary-text-color: #974140;

// Font Weights
$font-extra-light: 100;
$font-light: 200;
$font-regular: 300;
$font-semibold: 400;
$font-bold: 500;
$font-extrabold: 600;
$font-solidbold: 700;

// BOX SHADOWS //////////////////////
$box-hover-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
