// COLORS
$primary-green: #40975B;
$secondary-green: #184A28;
$tertiary-green: #777E39;

$primary-red: #974140;
$secondary-red: #4A1111;

// FONTS /////////////////////////////
// Font Family
$font: 'Roboto', sans-serif;

// Font Colors
$nav-text-color: #FFFFFF;
$primary-text-color: #000000;
$secondary-text-color: #974140;

// Font Weights
$font-light: 200;
$font-med: 300;
$font-bold: 600;