@import "_variables";

/////////// HTML Globals ///////////
body {
  margin: 0;
}

a, a:focus, a:hover {
	color: inherit;
	font-family: $font-secondary;
	font-weight: $font-light;
	text-decoration: none;
}

/////////// CLASS GLOBALS ///////////
// Links and Navigation
.nav-links {
	color: inherit;
	font-family: $font-main;
	font-weight: $font-bold;
	text-decoration: none;
}

// App Bar
.app-bar-title {
	font-family: $font-title;
	margin: 0;		
}