.footer {
	.footer-contact {
		margin: 0 auto;
		padding-top: 5%;
		.social-icons {
			margin-bottom: 15%;
			.twitter {
				margin: 0 5% -2% 5%;
			}
			.twitter:hover {
				cursor: pointer;
				opacity: 0.6;
			}
		}
		.footer-text {
			margin: 4% 0;
		}
	}
	.footer-map {
		margin-left: 5%;
	}
}
