@import '../_variables.scss';

// GLOBAL BOOTSTRAP OVERRIDES
.navbar-default .navbar-nav > li > a {
	color: $nav-text-color;
	font-family: $font;
	font-weight: $font-med;
}
.navbar-default .navbar-nav > li > a:hover {
	color: $secondary-text-color
}

// STYLES OUTSIDE BOOTSTRAP
.navbar {
	background-color: $primary-green;
	opacity: 0.8;
	.logo {
		margin: -30% 0 0 0;
	}
}
